PORT=3000  
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/logistics
BETTER_AUTH_SECRET=vSBx0jt8XjFb6SXQ3GrlSKTMsGSsBX0u
REDIS_URL=redis://localhost:6379
BETTER_AUTH_URL=http://localhost:3000